
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&family=Teko:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Teko", sans-serif;
    background-color:#070410;
    color: white;
}


.Navigation{
    display: flex;
    padding: 24px;
    background-color: #070410;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 14px 24px #EEF36A;
}

.LOGO{
    font-size: 46px;
    font-family: "Teko", sans-serif;
    text-shadow: 2px 2px #231651;
}

.nav-names{
    display: flex;
    font-family: "Teko", sans-serif;
    font-size: 24px;
    gap: 42px;
}

nav a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #231651;
}

.search button{
    background-color: #EEF36A;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    font-family: "Teko", sans-serif;
    font-size: 33px;
    padding: 18px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 4px 4px #4DCCBD;
}


.Body-Container{
    display: grid;
    gap: 48px;
    max-width: 900px;
    padding: 48px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
}

.F-B{
    grid-column: 1 / -1;
    margin-inline: -6px;
}
.Rectangle-Container{
    font-size: 22px;
    background-color: #231651;
    max-width: 99%;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    box-shadow: 16px 16px 12px #EEF36A;
}
.B1{
    width: 100%;
    height: auto;
    max-height: 375px;
}
.info1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6px;
    flex-direction: column;
    margin-inline: 1px;
    margin: -2px;
    margin-top: -2px;
}
.info1 h1{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-left: 6px;
    margin-top: -12px;
}
.info1 B{
    display: flex;
    margin-left: 6px;
    width: 64%;
    margin-top: -10px;
}
.PLAY{
    font-size: 2em;
    width: 230px;
    padding: 20px 33px;
    color: black;
    background-color: #EEF36A;
    border: 2px solid black;
    border-radius: 42px;
    cursor: pointer;
    line-height: 1;
    height: 126px;
    margin: 20px;
    margin-bottom: 24px;
    margin-top: -900px;
    margin-inline: 546px;
}


.Vertical-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    box-shadow: 16px 16px 12px #EEF36A;
    width: 100%;
}
.S-B{
    grid-column: 1/2;
    background-color: #231651;
}
.B2{
    width: 100%;
    margin: 0px;
    height: 500px;
}
.info2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    font-size: 18px;
    margin: -8px;
    margin-top: 2px;
    padding: 6px;
}
.info2 h1, B{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    flex: 1;
}
.PLAY1{
    display: block;
    background-color: #EEF36A;
    border: 2px solid black;
    border-radius: 42px;
    font-size: 1em;
    padding: 20px;
    cursor: pointer;
    line-height: 1;
    margin: 12px;
    margin-inline: 120px;
}
.T-B{
    grid-column: 2/3;
    background-color: #231651;
}
.B3{
    width: 100%;
    margin: 0px;
    height: 500px;
}
.info3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    font-size: 18px;
    margin: -8px;
    margin-top: 2px;
    padding: 6px;
}
.info3 h1, B{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    flex: 1;
}
.PLAY2{
    display: block;
    background-color: #EEF36A;
    border: 2px solid black;
    border-radius: 42px;
    font-size: 1em;
    padding: 20px;
    cursor: pointer;
    line-height: 1;
    margin: 12px;
    margin-inline: 120px;
}


.Horizontal-Container{
    display: flex;
    background-color: #231651;
    box-shadow: 16px 16px 12px #EEF36A;
    overflow: hidden;
    font-size: 14px;
}
.FO-B{
    grid-column: 1/-1;
}
.B4{
    width: 50%;
    height: auto;
}
.info4{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 32px;
    margin: 22px;
    font-size: 17px;
    flex-direction: column;
}
.info4 h1, B{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}
.PLAY3{
    display: block;
    font-size: 1.6em;
    padding: 18px;
    color: black;
    background-color: #EEF36A;
    border: 2px solid black;
    border-radius: 42px;
    cursor: pointer;
    line-height: 1;
    margin: 12px;
    margin-top: 434px;
}
.FI-B{
    grid-column: 1/-1;
}
.B5{
    width: 50%;
    height: auto;
}
.info5{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 22px;
    margin: 22px;
    font-size: 17px;
    flex-direction: column;
}
.info5 h1, B{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.PLAY4{
    display: block;
    font-size: 1.6em;
    padding: 18px;
    color: black;
    background-color: #EEF36A;
    border: 2px solid black;
    border-radius: 42px;
    cursor: pointer;
    line-height: 1;
    margin: 12px;
    margin-top: 334px;
}
.SI-B{
    grid-column: 1/-1;
}
.B6{
    width: 50%;
    height: auto;
}
.info6{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 9px;
    margin: 22px;
    font-size: 17px;
    flex-direction: column;
}
.info6 h1, B{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}
.PLAY5{
    display: block;
    font-size: 1.6em;
    padding: 18px;
    color: black;
    background-color: #EEF36A;
    border: 2px solid black;
    border-radius: 42px;
    cursor: pointer;
    line-height: 1;
    margin: 12px;
    margin-top: 344px;
}

@media screen and (min-width: 721px) and (max-width: 1024px){
    .Navigation{
        padding: 16px;
    }
    .LOGO{
        font-size: 36px;
    }
    .nav-names{
        font-size: 20px;
        gap: 24px;
    }
    .search button{
        font-size: 24px;
        padding: 12px;
    }
    .Body-Container{
        max-width: 100%;
        padding: 20px;
        gap: 22px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .F-B, .S-B{
        grid-column: 1/2;
    }
    .S-B, .T-B{
        grid-column: 2/3;
    }
    .T-B, .FO-B{
        grid-column: 1/2;
    }
    .FO-B, .FI-B{
        grid-column: 2/3;
    }
    .FI-B, .SI-B{
        grid-column: 1/2;
    }
    .SI-B{
        grid-column: 2 /3;
    }
    .Rectangle-Container{
        height: 100%;
        flex-direction: column;
        box-shadow: 2px 14px 24px #4DCCBD;
    }
    .Vertical-Container{
        height: 100%;
        width: 330px;
        flex-direction: column;
        box-shadow: 2px 14px 24px #4DCCBD;
    }
    .Horizontal-Container{
        height: 100%;
        flex-direction: column;
        box-shadow: 2px 14px 24px #4DCCBD;
    }
    .info1{
        font-size: 24px;
        padding: 2px;
        margin: 4px;
        margin-top: 2px;
    }
    .info2{
        font-size: 24px;
        padding: 2px;
        margin: 4px;
        margin-top: 2px;
    }
    .B1,.B2{
        height: 254px;
        object-fit: cover;
    }
    .PLAY{
        margin-inline: 90px;
        width: 142px;
        margin-top: 12px;
        font-size: 1.2em;
        padding: 18px;
    }
    .PLAY1{
        margin-inline: 90px;
        width: 155px;
        margin-top: 84px;
        font-size: 1.2em;
        padding: 26px 16px;
    }
    .B3{
        height: 254px;
        object-fit: cover;
    }
    .B4{
        width: auto;
        height: 254px;
        object-fit: cover;
        margin-inline: 0px;
    }
    .Details3{
        font-size: 26px;
        padding: 8px;
        margin: -5px;
        margin-top: -4px;
    }
    .info4{
        font-size: 24px;
        padding: 2px;
        margin: 16px;
        margin-inline-end: 6px;
        margin-top: 10px;
    }
    .PLAY2{
        margin-inline: 90px;
        width: 160px;
        margin-inline-start: 90px;
        margin-top: 24px;
        margin-block: 40px;
        font-size: 1.2em;
        padding: 26px;
    }
    .PLAY3{
        margin-inline: 90px;
        width: 160px;
        margin-inline-start: 80px;
        margin-top: 33px;
        margin-block: 70px;
        font-size: 2.2em;
        padding: 24px;
    }
    .B5{
        width: auto;
        height: 254px;
        object-fit: cover;
        margin-inline: 0px;
    }
    .B6{
        width: auto;
        height: 254px;
        object-fit: cover;
        margin-inline: 0px;
    }
    .info5{
        font-size: 28px;
        padding: 2px;
        margin: 2px;
        margin-inline-end: 6px;
        margin-top: 10px;
    }
    .info6{
        font-size: 24px;
        padding: 2px;
        margin: 16px;
        margin-inline-end: 6px;
        margin-top: 10px;
    }
    .PLAY4{
        margin-inline: 90px;
        width: 160px;
        margin-inline-start: 80px;
        margin-top: 33px;
        margin-block: 70px;
        font-size: 2.2em;
        padding: 24px;
    }
    .PLAY5{
        margin-inline: 90px;
        width: 160px;
        margin-inline-start: 80px;
        margin-top: 33px;
        margin-block: 70px;
        font-size: 2.2em;
        padding: 24px;
    }
}


@media screen and (min-width: 361px) and (max-width: 721px){
    .Navigation{
        padding: 6px;
        margin: 0px;
        margin-inline-end: -57px;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 26px;
        align-items: center;
    }
    .LOGO{
        font-size: 46px;
        margin-top: 6px;
        margin-bottom: -55px;
        margin-inline-end: -14px;
        margin-inline-start: -294px;
    }
    .nav-names{
        font-size: 16px;
        display: none;
    }
    .search button{
        font-size: 24px;
        margin-top: -12px;
        margin-inline-start: 284px;
        margin-bottom: 20px;
        padding: 10px 18px;
    }
    .Body-Container{
        max-width: 100%;
        padding: 6px;
        margin-top: 33px;
        margin-inline: -24px;
        margin-inline-start: 18px;
        gap: 20px;
        grid-template-columns: 1fr;
    }
    .B1, .B2, .T-B, .FO-B, .FI-B, .SI-B{
        grid-column: 1/-1;
    }
    .Rectangle-Container{
        max-width: 100%;
        box-shadow: 8px 8px 8px #4DCCBD;
    }
    .B1{
        max-height: 250px;
        object-fit: cover;
    }
    .PLAY{
        margin-inline: auto;
        margin-top: -650px;
        width: 140px;
        height: 80px;
        font-size: 1.4em;
    }
    .Vertical-Container{
        height: auto;
        box-shadow: 8px 8px 8px #4DCCBD;
    }
    .B2{
        max-height: 354px;
        object-fit: cover;
    }
    .B3{
        max-height: 354px;
        object-fit: cover;
    }
    .Horizontal-Container{
        flex-direction: column;
        box-shadow: 8px 8px 8px #4DCCBD;
    }
    .B4, .B5, .B6{
        width: 100%;
        height: 365px;
        object-fit: cover;
    }
    .info1{
        padding: 12px;
        font-size: 22.2px;
        margin: 0px;
    }
    .info1 h1{
        font-size: 1.4em;
        margin-inline: 123px;
        margin-bottom: 12px;
    }
    .info1 B{
        font-size: 0.9em;
        line-height: 1.4;
        margin-bottom: 6px;
        margin-inline: 64px;
        overflow: hidden;
    }
    .info2{
        padding: 12px;
        font-size: 22.2px;
        margin: 0px;
    }
    .info2 h1{
        font-size: 1.4em;
        margin-inline: 110px;
        margin-bottom: 12px;
    }
    .info2 B{
        font-size: 0.9em;
        line-height: 1.4;
        margin-inline: 60px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .info3{
        padding: 12px;
        font-size: 22.2px;
        margin: 0px;
    }
    .info3 h1{
        font-size: 1.4em;
        margin-inline: 110px;
        margin-bottom: 12px;
    }
    .info3 B{
        font-size: 0.9em;
        line-height: 1.4;
        margin-inline: 60px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .info4{
        padding: 12px;
        font-size: 22.2px;
        margin: 0px;
    }
    .info4 h1{
        font-size: 1.4em;
        margin-inline: 110px;
        margin-bottom: 12px;
    }
    .info4 B{
        font-size: 0.9em;
        line-height: 1.4;
        margin-inline: 60px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .info5{
        padding: 12px;
        font-size: 22.2px;
        margin: 0px;
    }
    .info5 h1{
        font-size: 1.4em;
        margin-inline: 110px;
        margin-bottom: 12px;
    }
    .info5 B{
        font-size: 0.9em;
        line-height: 1.4;
        margin-inline: 60px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .info6{
        padding: 12px;
        font-size: 22.2px;
        margin: 0px;
    }
    .info6 h1{
        font-size: 1.4em;
        margin-bottom: 8px;
    }
    .info6 B{
        font-size: 0.9em;
        line-height: 1.4;
        margin-inline: 60px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .PLAY{
        width: 345px;
        font-size: 1.2em;
        padding: 10px;
        margin: 12px auto;
        margin: 16px;
    }
    .PLAY1{
        width: 333px;
        font-size: 1.2em;
        padding: 10px;
        margin: 12px auto;
        margin: 16px;
    }
    .PLAY2{
        width: 333px;
        font-size: 1.2em;
        padding: 10px;
        margin: 12px auto;
        margin: 16px;
    }
    .PLAY3{
        width: 333px;
        font-size: 2.2em;
        padding: 10px;
        margin: 12px auto;
        margin: 12px;
    }
    .PLAY4{
        width: 333px;
        font-size: 2.2em;
        padding: 10px;
        margin: 12px auto;
        margin: 12px;
    }
    .PLAY5{
        width: 333px;
        font-size: 2.2em;
        padding: 10px;
        margin: 12px auto;
        margin: 12px;
    }
}